body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-align: center;
}
.container {
    display: inline-block;
    width: auto;
    margin-top: 2%;
    padding: 1%;
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
footer {
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;

}
#delete{
    margin-top: 5px !important;
}